@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply block w-full flex items-center gap-2 
           px-3 py-2 rounded-md
           text-white dark:text-gray-200;
  }

  .active-link {
    @apply bg-secondary-ur dark:bg-secondary-ur/80;
  }
}

.border-animation {
  border: 3px solid transparent;
  border-top-color: #ff0077;
  border-right-color: #00e1ff;
  border-bottom-color: #00ff84;
  border-left-color: #ffbe00;
  animation: rotateBorder 2s linear infinite;
  border-radius: 9999px;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
